@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


*, *::before, *::after {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
    list-style-type: none; text-decoration: none;
}
body {
    background-image: 
        url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(#noiseFilter)" opacity="0.03"/></svg>'), /* Noise SVG */
        radial-gradient(at 50% 10%, #88253a 0%, transparent 70%), 
        radial-gradient(at 80% 80%, #000000 0%, transparent 60%), 
        linear-gradient(to top right, #000000, #000000);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 40px;
    background-image: linear-gradient(to right, #581022, #150050);
}
.logo { 
    display: flex; align-items: center; gap: 10px; 
}
.logo img { 
    width: 50px; height: 50px; border-radius: 50%; 
}
.logo span { 
    color: #FB2576; font-weight: 600; 
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    transform: translateY(-1px); 

}

.menu__link {
    color: #3F0071; 
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease;
    
    
    position: relative; 
    display: inline-block; 
    padding: 0 5px; 
    list-style: none;
}


.menu__link::after {
    content: '';
    position: absolute; 
    bottom: -5px; 
    left: 0;
    width: 0; 
    height: 3px;
    background-color: #FB2576; 
    transition: width 0.3s ease;
}
.menu__link:hover {
    color: #FB2576; 
}

.menu__link:hover::after {
    width: 100%; 
}

.menu__list {
    margin-right: 25px;
    list-style: none;
}

.menu__link.active {
    color: #FB2576; 
}

.menu__link.active::after {
    width: 100%; 
}

.title { display: flex; justify-content: center; align-items: center; padding: 5rem 0 2rem; color: #FB2576; 
}
.title h2 { font-size: 3rem; 
}

.swiper-slide {
    width: 37rem; 
    outline: none !important; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    outline: none !important;
    box-shadow: 0 0 10px #ff307f,
              0 0 20px #FB2576;
}
.swiper-wrapper {
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.swiper-slide-shadow-left, .swiper-slide-shadow-right {
    display: none;
}
.swiper-button-next,
.swiper-button-prev {
    top: initial;
    transform: initial;
    bottom: 20px; 
    color: #FB2576; 
    opacity: 1; 
}
.swiper-button-prev {
    left: 40%; 
    right: initial;
}
.swiper-button-next {
    right: 40%; 
    left: initial;
}
.swiper-button-next,
.swiper-button-prev {
    position: static; 
    top: initial !important; 
    transform: initial !important; 
    color: #FB2576; 
    opacity: 1; 
    transition: opacity 0.3s ease;
    cursor: pointer; 
}
.swiper-button-disabled {
    opacity: 0.35 !important; 
    pointer-events: auto !important; 
    cursor: pointer !important; 
}
.swiper-button-next,
.swiper-button-prev {
    color: #3F0071; 
    opacity: 1; 
    transition: opacity 0.3s ease;
    display: flex !important; 
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #FB2576;
}
.tranding-slider-control {
    display: flex;
    justify-content: center; 
    gap: 120px;
    margin-top: 90px; 
    margin-bottom: 20px; 
    z-index: 10;
}
.networks { text-align: center; width: 100%; height: 3rem; margin-top: 5rem; padding-bottom: 2rem; }
.networks i { cursor: pointer; margin: 0 1rem; color: #FB2576; font-size: 3rem; }
.networks i:hover { transition: 0.3s; color: #FB2576; }
